<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timers">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/egg_main"
        android:label="Egg Timer"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".TimerService" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>